@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirm";
}

<h1>@ViewData["Title"]</h1>
<h4>@Model.StatusMessage</h4>
<p>
    <a id="login-link" asp-page="Login" class="btn btn-primary">Login</a>
</p>

@{
    Model.StatusMessage = null;
}
